[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
pytest = "*"
networkx = "*"
"docassemble.scasp" = {editable = true, git = "https://github.com/smucclaw/docassemble-scasp.git"}
flake8 = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"
